#table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
}

#fecha-titulo{
    border-right: 1px solid black;
}

td{
    border-left: 1px solid black;
}